Source: mpir
Section: libs
Priority: optional
Maintainer: Doug Torrance <dtorrance@monmouthcollege.edu>
Build-Depends: debhelper (>= 9), dh-autoreconf, texinfo, yasm
Standards-Version: 3.9.6
Homepage: http://mpir.org/
Vcs-Git: https://github.com/d-torrance/mpir
Vcs-Browser: https://github.com/d-torrance/mpir

Package: libmpir11
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: libmpir-dev
Section: libdevel
Architecture: any
Depends: libmpir11 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
