Source: mpir
Section: libs
Priority: optional
Maintainer: Doug Torrance <dtorrance@monmouthcollege.edu>
Build-Depends: debhelper (>= 9), dh-autoreconf, texinfo, yasm
Standards-Version: 3.9.6
Homepage: http://mpir.org/
Vcs-Git: https://github.com/d-torrance/mpir
Vcs-Browser: https://github.com/d-torrance/mpir

Package: libmpir11
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: Multiple precision integers and rationals
 MPIR is an open source multiprecision integer (bignum) library forked from the
 GMP (GNU Multi Precision) project. It consists of much code from past GMP
 releases, in combination with much original contributed code.

Package: libmpir-dev
Section: libdevel
Architecture: any
Depends: libmpir11 (= ${binary:Version}), ${misc:Depends}
Description: Multiple precision integers and rationals (developer tools)
 MPIR is an open source multiprecision integer (bignum) library forked from the
 GMP (GNU Multi Precision) project. It consists of much code from past GMP
 releases, in combination with much original contributed code.
 .
 This package contains MPIR developer tools.
